[Unit]
Description=RADIUS proxy frontend for (pre/post)auth+hostapd

[Service]
Type=simple
ExecStart=/usr/bin/dotonex-daemon
Restart=always

[Install]
WantedBy=multi-user.target
