# to enable debugging output/logging (false)
debug: true

# to support caching operations (false)
cache: true

# host (to bind to, default is localhost)
host: localhost

# accounting mode (false)
accounting: false

# do NOT respond with a radius reject
noreject: true

# proxy binding (not applicable in accounting mode, default: 1814)
to: 1814

# bind port (1812 by default, 1813 for accounting)
bind: 1812

# working directory (/var/lib/radiucal/)
dir: /var/lib/radiucal/

# log dir
log: /var/log/radiucal/

# how long (seconds, default 10) to buffer logs
logbuffer: 10

# connection age reset (hours, default 0 or off) before auto-reload
connage: 1

# plugins to load (an array/multiple values allowed)
plugins
    # to do file-system based user+mac filter
    - usermac
    # to output log file dumps from packets received
    - log
    # to output debug tracing messages
    - debug
    # primitive stats output
    - stats
    # nas whitelisting/blacklist
    - naswhitelist
    # track access requests
    - access


disable:
    accounting: [stats]
    preauth: [debugger]
    trace: [logger]
    postauth: []

naswhitelist:
    whitelist:
        # everything in this sub is allowed
        - 192.168.100.
        # except this specific ip
        - !192.168.100.5

stats:
    # how often to flush stats to logs
    flush: 5
